html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --sidebar-color: #7dd3fc;
  --roboto-family: "Roboto", sans-serif;
  --new-pink: #fecaca;
  --slate: #f8fafc;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  font-family: var(--roboto-family);
}
a {
  text-decoration: none;
}
.sidebar a {
  color: white;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-row: 1/3;
  background-color: var(--sidebar-color);
  display: flex;
  flex-direction: column;

  color: white;
  font-weight: 700;
}
div[class^="flex-container"] {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
}
.flex-container1 {
  height: 10%;
  justify-content: center;
}
.flex-container2 {
  margin: 20% 0 20% 0;
  height: 30%;
  justify-content: space-around;
}
.flex-container3 {
  height: 15%;
  justify-content: space-around;
}

header {
  grid-column: 2/4;
  background-color: var(--slate);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 7fr 3fr;
  padding-left: 5%;
  padding-right: 5%;
}
header > div {
  display: flex;
}
header a {
  color: black;
}
.top-right img {
  height: 3rem;
}
.empty-profile {
  height: 5rem;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
.header-button {
  border-radius: 10%;
  background-color: var(--sidebar-color);
  width: 28%;
  height: 50%;
}

main {
  display: grid;
  background-color: blue;
  grid-column: 2/4;
  background-color: var(--new-pink);
}
.card {
  display: flex;
  flex-direction: column;
}
.card-icons {
  align-self: flex-end;
  display: flex;
}
